.page-wrapper {
    height: 100vh;
    background-color: #E8E6E6FF;

}

.container {
    text-align: center;
    background-color: #cbcbcb;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;

}
.row{
    border: 1px solid #cbcbcb;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin: 20px;
}

.column {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 2px;
    padding: 2px;

}

