.page-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f3f0f0;
    /*margin: 5px 2px;*/

}

.container {
    margin: 0 1rem;
    width: 100vw;
}

.row-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 1rem;

}

.header-column {
    width: 100%;
    border-bottom: 1px solid black;
}

.core-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 25vh;
    margin: 0 1rem;
}

.core-row {
    border-bottom: 1px solid black;
    width: 95%;
    margin: 1rem;
}
.core-column {
    margin: 1rem;
}
