.page-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f3f0f0;
    overflow: scroll;
    /*margin: 5px 2px;*/

}

.container-header {
    width: 95%;
    margin: 1rem;
    height: 6rem;
    border-bottom: 1px solid black;
}

.core-container {
    width: 95%;
    margin: 1rem;
    height: 28rem;
    border-bottom: 1px solid black;
}

.core-row {
    height: 6rem;
    padding: 5px;
    margin: 2rem 0;
}

.vision-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 60rem;
    border-bottom: 1px solid black;
}

.vision-column-header {
    width: 95%;
    margin: .5rem 5rem 0 1rem;
    height: 4rem;
}
.vision-row {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: 0 5rem .5rem 1rem;
    padding: 2px;
    height: 25rem;
}

.vision-column-image {
    width: 25rem;
    height: 25rem;
    padding: 5px;
}

.vision-column-image > img {
    width: inherit;
    height: 100%;
    object-fit: cover;
}

/*.container {*/
/*    margin: 0 1rem;*/
/*    width: 100vw;*/
/*}*/

/*.row-header{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 95%;*/
/*    margin: 0 1rem;*/

/*}*/

/*.header-column {*/
/*    width: 100%;*/
/*    border-bottom: 1px solid black;*/
/*}*/

/*.core-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    width: 100vw;*/
/*    max-height: 25vh;*/
/*    margin: 0 1rem;*/
/*    border-bottom: 1px solid black;*/
/*}*/

/*.core-row {*/
/*    width: 95%;*/
/*    height: 100%;*/
/*    margin: 0 1rem;*/
/*}*/

/*.core-column {*/
/*    margin: 1rem;*/
/*    padding: 1rem;*/
/*}*/

/*.vision-container {*/
/*    width: 100vw;*/
/*    height: 65vh;*/
/*}*/

/*.vision-column-header {*/
/*    margin: 1rem;*/
/*    padding: 5px;*/
/*    height: 100%;*/
/*}*/

/*.vision-row {*/
/*    border-bottom: 1px solid black;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-flow: wrap;*/
/*    width: 95%;*/
/*    height: 90%;*/
/*    margin: 0 1rem;*/
/*}*/

/*.vision-column-images {*/

/*    padding: 5px;*/
/*    margin: 1px;*/
/*}*/

/*.vision-column-image {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/